<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <select name="slider[icon]", style="font-family: 'Material Icons'" >
    <option value="" disabled selected>Выберите иконку</option>
    <option value="done">&#xE876;</option>
    <option value="update">&#xE923;</option>
    <option value="cached">&#xE86A;</option>
    <option value="bookmark_border">&#xE867;</option>
    <option value="euro_symbol">&#xE926;</option>
    <option value="favorite_border">&#xE87E;</option>
    <option value="restore">&#xE8B3;</option>
    <option value="query_builder">&#xE8AE;</option>
    <option value="search">&#xE8B6;</option>
    <option value="supervisor_account">&#xE8D3;</option>
    <option value="thumb_up">&#xE8DC;</option>
    <option value="trending_up">&#xE8E5;</option>
    <option value="call">&#xE0B0;</option>
    <option value="location_on">&#xE0C8;</option>
    <option value="add">&#xE145;</option>
    <option value="forward">&#xE154;</option>
    <option value="mail">&#xE158;</option>
  </select>
</div>
