<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <select name="slider[icon]", style="font-family: 'Material Icons'" >
    <option value="" disabled selected>Выберите иконку</option>
    <option value="done">&#xE876;</option>
    <option value="update">&#xE923;</option>
    <option value="cached">&#xE86A;</option>
  </select>
</div>
