<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  

  <%=
  
  f.select field.attribute, 
      options_for_select(nested_set_options(f.object.class) {|i| "#{'-' * i.level} #{i.name}" } ) ,
      #grouped_options_for_select(f.object.class.all), 
      {include_blank: true},
      {class: :nested_options, selected: "3"} 

      
       %>
</div> 
